page-fakultasprodi {
.accordion-list {
        background: color($colors, upn);
        height: 100%;
        width: 85vw !important;
    }
    .section {
        background: #fff;
        color: #000;
        margin-bottom: 4px;
    }
    .section-active {
        background: color($colors, upn);
        color: #fff;
    }
 
    .child {
        background: color($colors, upn);
        color: #000;
        margin-bottom: 4px;
    }
    .child-item {
        background: color($colors, upn);
        padding: 10px;
    }
    .label {
        margin: 0px;
    }
    .list {
        margin-bottom: 4px;
    }

}
