<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon><img width="30px" height="auto" src="http://elearning.upnjatim.ac.id/main/default_course_document/images/Logo_Upn_Jatim_Baru.png">
    </button>
    <ion-title>UPN "Veteran" Jawa Timur</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-slides class="slide-zoom" autoplay="5000" loop="true" speed="3000" pager>
<ion-slide *ngFor="let slide of slideData">
      <img class="img-size" src="{{slide.image}}" />
</ion-slide>
</ion-slides>

<ion-refresher (ionRefresh)="doRefresh($event)">
	<ion-refresher-content  pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
      </ion-refresher-content>
  </ion-refresher>

	<ion-grid>
  <ion-row>
    <ion-col><div><button ion-button full color="primary" (click)="openSiamik()" >SIAMIK</button></div> </ion-col>
    <ion-col><div><button ion-button full color="secondary" (click)="openSimaba()" >SIMABA</button></div> </ion-col>
  </ion-row>
  <ion-row>
    <ion-col><div><button ion-button full color="light" (click)="openElearning()" >E-Learning</button></div> </ion-col>
    <ion-col><div><button ion-button full color="danger" (click)="openEjournal()" >E-Journal</button></div> </ion-col>
  </ion-row>
</ion-grid>
	


<ion-card *ngFor="let item of items">
<ion-item>
    <ion-avatar item-start>
      <img src="http://elearning.upnjatim.ac.id/main/default_course_document/images/Logo_Upn_Jatim_Baru.png">
    </ion-avatar>
    <h2>{{ item.kategori  }}</h2><p><font style="font-size:12px;color:grey">{{ item.tanggalinput  }}</font></p>
</ion-item>

  <ion-card-content>
    <p><font style="font-size:14px;color:black">{{ item.isi   }}.</font></p>
    
<ion-row>
    <ion-col>
      
    </ion-col>
    <ion-col>
      
    </ion-col>
    <ion-col center (click)="otherShare(item.kategori+': '+item.isi)" text-center>
      <ion-icon name="share-alt" ></ion-icon> Share
    </ion-col>
  </ion-row>
  </ion-card-content>
 
</ion-card>

<!---
<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Loading more data..."></ion-infinite-scroll-content>
 </ion-infinite-scroll>
-->
</ion-content>
