page-kalenderakademik {

}
.header-image {
    background-image: url('');
height: 200px;
  width:100%;
}

.kalender-size {
height: 70vw !important;
  width:85vw !important;
}
 
.main-content {
    padding: 20px;
    background-color: white;
}
